@media screen and (max-width: 576px){
    .nav-toggle-btn{
        display: flex;
    }
    .navbar-links{
        display: none;
    }

    .content .firstsector .apps{
        display: flex;
        flex-direction: column;
    }
    /* exercise and diet html */
    .box-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .box-container .box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;
    }
    /* contact form */
    .contact-box{
        flex-direction: column;
    }
    .form .input-row{
        flex-direction: column;
    }
}

@media (max-width: 768px){
    /* contact form */
    .contact-box{
        flex-direction: column;
    }
}

@media (min-width: 992px){

}

@Media (min-width: 1200px){

}
body{
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'ZCOOL XiaoWei', serif;
}

div.name{
    font-family: 'ZCOOL XiaoWei', serif;
    display: inline-block;
    background-color: black;
    
}
div.social-media{
    float: right;
}
.name h1{
    color: white;
}
.name ul{
    color: white;
    float: right;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
}

/*Index html*/
.firstsector{
    background-image: url('pictures/firstsector.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.apps{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.apps li{
    width: 300px;
    height: 155px;
    border-radius: 20px;
    margin:65px;
    list-style-type: none;
    text-align: center;
}

li.andriodapp{
    background-color: black;
    color: white;
}

li.appleapp{
    background-color: white;
    color: black;
}


.apps img{
    width: 300px;
    height: 100px;
    object-fit: cover;
}



div.secondsector{
    background-color: white;
}

div.thirdsector{
    background-color: black;
}

/*Contact html*/
.form{
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background: white;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
    color: black
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #CECECE;
    color: black;
}

h1{
    margin-bottom: 10px;
}
.form p{
    margin-bottom: 20px;
}
.form .input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form .input-row .input-group{
    flex-basis: 45%;
}
.form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
}
.form textarea{
    width: 100%;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.form label{
    margin-bottom: 6px;
    display: block;
    
}
.form button{
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    color: #aca6a6;
    box-shadow: 0px 5px 15px 0px rgba(245, 217, 142, 0.363);
}
.form .contact-left h3{
    font-weight: 600;
    margin-bottom: 30px;
}
.form .contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

.form tr td:first-child{
    padding-right: 20px;
}

.form tr td{
    padding-top: 20px;
}



/* exercise.html and diet.html */

.box-container{
    width: 660px;
    min-height: 500px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-container .box{
    position: relative;
    width: 200px;
    height: 200px;
    background: black;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.box-container .box .imgBox{
    position: relative;
    overflow: hidden;
}
.box-container .box .imgBox img{
    max-width: 100%;
    transition: transform 2s;
}
.box-container .box:hover .imgBox img{
    transform: scale(1.2);
    
}
.box-container .box .details{
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: #0e0d0d;
    transform: scaleY(0);
    transition: transform .5s;
}
.box-container .box:hover .details{
    transform: scaleY(1);
}
.box-container .box .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: white;
}
.box-container .box .details .content h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
}
.box-container .box .details .content p{
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
    color: white;
}

/* trainer.html */

.trainer-container{
    width: 960px;
    min-height: 500px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.trainer-box{
    position: relative;
    width: 300px;
    height: 600px;
    /* background: white; */
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    padding: 20px;
}
.trainer-box .imgBox{
    position: relative;
}

.trainer-box .imgBox img{
    max-width: 100%;
}
/* login.html */
.login{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}
.login-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #CECECE;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}
.login .input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.login .input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #CECECE;
    outline: none;
    background: transparent;

}

.login .submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.login .checkbox{
    margin: 30px 10px 30px 0;
}

.login span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}

#register{
    left: 450px;
}
/* member.html */
#member-info{
    color: white;
}
/* navigation bar */
#navbar{
    overflow: hidden;
    background-color: #CECECE;
}

.nav li a{
    text-decoration: none;
    list-style-type: none;
    display: block;
    padding: 8px;
    color: black;

}
.nav li:hover{
    background-color: #aca6a6;
    border-radius: 5px;
    /* background-clip: padding-box; */
    
}
ul.nav{
    margin: 0;
    padding: 0;
    z-index: 1;
}
#navbar li.navLi{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'ZCOOL XiaoWei', serif;
    list-style-type: none;
}

#navbar li.navLiRight{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'ZCOOL XiaoWei', serif;
    list-style-type: none;
}
.sub-menu{
    display: none; 
    z-index: 1;
    
}
.nav li:hover .sub-menu{
    display: block;
    position: absolute;
    background: #CECECE;
    margin-top: 15px;
    margin-left: -15px;
    color: black;
    
}
.nav li:hover .sub-menu ul{
    display: block;
    margin: 10px;
    text-align: left;
    list-style-type: none;
    text-decoration: none;
}
.nav li:hover .sub-menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #888181;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.nav li:hover .sub-menu ul li a:hover{
    color: #888181;
}

.nav-toggle-btn{
    position: absolute;
    top: 7.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.nav-toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color:white;
    border-radius: 10px;

}

/* content */
.content{
    padding: 16px;
}

.sticky{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 60px;
}

.member-details{
    color: white;
}
#member-info{
    color: white;
}