div.name {
    font-family: 'ZCOOL XiaoWei', serif;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}
ul.nav li {
    float: left;
}
ul.nav li a {
    display: block;
    padding: 8px;
    background-color: #CECECE;
    text-decoration: none;
    font-family: 'ZCOOL XiaoWei', serif;
    line-height: 50px;
    
}